/* Font size */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.game {
    display: flex;
    gap: 20px;
}

.raw {
    border-radius: 2px;
    border: 0;
    color: brown;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 50px 125px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
}

.cool {
    background-color: whitesmoke;
}

.banner {
    display: flex;
    gap: 500px;
}

section {
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 120px;
}

.design {
    font-size: 35px;
    color: deeppink;
}

.btn {
    border-radius: 50px;
    padding: 9px 9px;
    background-color: deeppink;
    color: aliceblue;
    border: 0;
}

.btn2 {
    border-radius: 50px;
    padding: 9px 9px;
    background-color: blueviolet;
    color: aliceblue;
    border: 0;
}

.description {
    display: flex;
    margin-top: 30px;
}

.description-title {
    text-align: right;
}

.games {
    text-align: center;
}
.hard{
    position: relative;
    bottom: 300px;
    margin-left: 150px;
    border-radius: 2px;
    text-decoration: none;
    border: 0;
}
.online {
    display: flex;
    gap: 9px;
    margin-top: 30px;
}

.play {
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    gap: 200px;
}

.image {
    margin-top: 50px;
}

.text {
    margin-bottom: 200px;
    text-align: right;
}

.top {
    position: relative;
    bottom: 280px;
}

.frame {
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-bottom: 90px;
}

.frame2 {
    display: flex;
    gap: 30px;
    margin-left: 290px;
    margin-bottom: 90px;
}

.last {
    text-align: center;
    background-color: darkcyan;

}

.now {
    display: flex;
    align-items: center;
    margin-left: 720px
}

.one {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 600px
    
}

.two {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 650px
}
.right:hover{
    color: blue;
}



/* mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .banner,
    .cool,
    .play,
    .description {
        flex-direction: column;
    }

    .online {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .frame, .frame2 {
        grid-template-columns: repeat(2, 3fr);
        flex-direction: column;
    }
}


/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
    .online {
        grid-template-columns: 2fr;
        flex-direction: column;
    }
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}